body{
    align-items: center;
    justify-content: center;
    text-align: center;
    display:block;
}

header{
    display:flex;
    justify-content:space-between;
    margin: 5px;
    padding: 5px;

}

header a{
  font-size: large;
  font-weight:800;
  background-color:rgba(163, 163, 163, 0.719);
  padding: 5px;
  border-radius: 5% / 50%;
}

div.time{
  font-size: large;
  font-weight:800;
  background-color:rgba(163, 163, 163, 0.719);
  padding: 5px;
  border-radius: 15% / 50%;
  color:#6464E8;
}

.intro{
    display:block;
}

#results{
    display: none;
}

ul{
    justify-content: center;
    text-align: center;
    list-style: none;

}

li{justify-content: center;
    text-align: left;
    align-items: center;
    
}

.quiz{
  justify-content: center;
    
}

#resultsList{
  font-size: x-large;
  font-weight: 800;
}



button {
    background-color: #6464E8;
    border: 1px solid black;
    color: white;
    font-size: larger;
    font-weight:700;
    border-radius: 10% / 50%;
}

button:hover{
  background-color: #50EAF5;
  cursor: pointer;
}

header a:hover{
  background-color: #50EAF5;
  cursor: pointer;
}

input {
    background-color: #f1f3f4;
    border-radius: 2px;
    border-width: 0;
    font-size: 1em;
    height: 45px;
    line-height: 20px;
    margin: 0;
    margin-top: 10px;
    max-width: 100%;
    padding: 8px 8px 8px 8px;
    transition-delay: 0s, 0s;
    transition-duration: 0.2s, 0.2s;
    transition-property: background-color, color;
    transition-timing-function: ease, ease;
    vertical-align: middle;
    width: 100%;
  }
  
  input:hover {
    background-color: #e8eaed;
  }

  #msg {
    visibility: hidden;
    margin-top: 20px;
    font-weight: 700;
    height: 1.2em;
    font-size: 1.2em;
  }
  
  #msg.success,
  #msg.error {
    visibility: visible;
  }
  
  #msg.success {
    color: #001b44;;
  }
  
  #msg.error {
    color: #e6252c;
  }
  

